body{
   /* background:  url("../rikard.jpg") no-repeat fixed center; */
    padding:0;
    margin:0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin: auto;
    width:100%;
    background-position: center;
    color:red;

}
h1{
    text-align:center;

}
.quizbox{
    justify-content: center;
    display:flex;
    color:blue;
    background-color:rgba(255, 255, 255, 0.377);
    width:30%;
    margin: auto;
}
#content{
   
    text-align: center;
    
}
